<!-- <div class="user-action">


    <div class="card" style="width: 18rem;">
       <img [src]="student.img" class="card-img-top" alt="...">
         <div class="card-body">
           <h5 class="card-title" #getuser>{{student.username}}</h5>
            <p class="card-text">{{student.email}}</p>
            <p class="card-text">{{student.salary}}</p>
            <p class="card-text">  Employ Status : {{student.employed ?  'Employed' : 'Open To Work ' }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>



    <div class="name">
      <span> Type Here:</span>
        <div>
            <input type="text" [(ngModel)] = "testStudent">
         </div>
    
       <div class="btn">
           <button (click)="setName(testStudent)">
               Click To Refresh Data
           </button>

       </div>



    </div>

     <div  class="chk">
       <span> Type Here:</span>
             <div>
               <input type="checkbox" [(ngModel)] = "student.employed">
             </div>
  

    </div>



    <div class="option">
        <span> Select Salary :</span>
            
         <select [(ngModel)] = "student.salary">
              <option value="1000">1K</option>
              <option value="2000">2K</option>
              <option value="3000">3K</option>
         </select>
   
 
     </div>
 
</div>

<div>
  <p>{{student.age | number : '1.1-4'}}</p> 
  <p>{{student.age | percent}}</p> 
  <p>{{student.age | 'GEL' : CODE }}</p> 

  
</div>  -->

<!-- <app-child [childinpit]="student.company" ></app-child>


   --> 