<app-oneproduct></app-oneproduct>

<div class="form-div">
<form >
    <div class="myf">
    <div class="form-row">
        <h2 class="title">Product Review</h2>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Name</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
    </div>
    </div>

    <div class="myf">
      <div class="form-group col-md-6">
        <label for="inputPassword4">LastName</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
    </div>

    <div class="myf">
    <div class="form-group col-md-6">
      <label for="inputAddress">Email</label>
      <input  class="form-control" id="inputAddress" placeholder="Your Email">
    </div>
    </div>

   <div class="myf">
    <div class="form-row ">
      <div class="form-group col-md-4">
        <label for="inputState">Which Products Are You Reviewing ? </label>
        <select id="inputState" class="form-control">
          <option selected>Please Choose ...</option>
        </select>
      </div>
    </div>
    </div>


    <div class="myf">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Review</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"  placeholder="Your Review"></textarea>
    </div>
   </div>

   <div class="myf">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>


</div>