.form-div {
    width: 70%;
    margin: auto;
    border: solid rgba(102, 97, 97, 0.493) 2px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px
}

.title {
    padding: auto;
    text-align: center;
    color: rgba(91, 91, 6, 0.249);
}

.my-form-group {
    width: auto;
    height: auto;
    border: solid rgba(132, 129, 129, 0.461) 2px;
    border-radius: 10px;
    padding: 20px;

}

.myf {
    padding: 10px;
}

.stars {
    padding: 10px;
    margin-left: 10px;
    margin-top: 2px;
}

.req {
    font-size: 12px;
    padding: 5px;
    color: rgb(206, 26, 26);
}

input.ng-touched.ng-invalid {
    border: 1px solid red;

}




.lft {

    float: left;
    margin-right: 5px;

}


.flt2 {

    float: left;
}

.flt {

    float: left;
    margin-right: 5px;
}


.bttns {

padding-bottom: 30px;

}


.add{
  color: white ;
  background-color: rgba(20, 20, 248, 0.628); 
  text-decoration: none;
  border-radius: 7px;
  padding: 2px;
  margin: 4px;
  cursor: pointer;
 
}