
<div class="mycard" >  
    <div class="row" >
     <ng-container  *ngFor="let item of products" >
       <div class="card card-body mt-2" *ngIf="item.inStock" >
    <div class="d-flex align-items-center justify-content-between text-lg-left flex-column flex-lg-row" >
        <div class="mr-2 mb-3 mb-lg-0">
            
                <img [src]="item.image" width="150" height="150" alt="">
           
        </div>

        <div class="mr-2 description " >
            <div class="d-flex" class="flt">
            <h6 class="">
                <p >{{item.title | titlecase}} </p>
            </h6>
        </div>
            <div class="status" [ngStyle]="{'color' : item.inStock ? 'green' : 'red'}" >
               <p  [ngClass]="setclass(item.inStock)"> {{item.inStock ?  'Available' : 'Sold out'}}</p> 
            </div>
            <p class="mb-3 description-text"> {{item.description | cUstomPipe : 3}}</p>
            <p> Star Count : {{fromchld}}</p>
          
        </div>
        <div class="mt-3 mt-lg-0 ml-lg-3 text-center"  [ngSwitch]="!item.inStock">
            <h6 class="mb-0 font-weight-semibold"> {{item.price | currency:'USD' }}</h6>

            <div>
                <app-starts [starNum]="5"  (myOutpt)="getchildsdt($event)" >    </app-starts>
            </div>
        

            <div class="text-muted"> {{item.rating.count}} reviews  <p> </p>  </div>
            <button type="button" class="btn btn-warning mt-4 text-white"  *ngSwitchCase="false"><i class="icon-cart-add mr-2"></i> Add to cart</button>
            <p class="text-damger"   *ngSwitchCase="true">Sold Out</p>
        </div>
    </div>
       </div>    
     </ng-container>

    </div>
</div>
<!-- 
<div *ngFor="let item of MyArray" class="dd">

<div>
    <p class="fl" [appMyDirective]> Array Element : {{item}}  </p>
    <p  [ngClass]="setmyClass(item)">{{item%2==0 ?  'ლუწი' : 'კენტი' }} </p>
</div>


</div> -->